<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Identity Application</title>
    <link href="\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        
                        @if (User != null && User.Identity.IsAuthenticated)
                        {
                            //kullanıcı adını ve logout linklerini göster
                            <li class="nav-item active">
                                <a class="nav-link">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-action="SignOut" asp-controller="Account">Sign Out</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="GetUserList" asp-controller="Account">User List</a>
                            </li>
                            @if(User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-action="Index" asp-controller="Invite">Invite</a>
                                </li>
                            }
                        }
                        else
                        {
                            //login ve register linkleri göster
                            <li class="nav-item">
                                <a asp-action="Create" asp-controller="Account" class="nav-link" aria-current="page">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="SignIn" asp-controller="Account">Sign In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>

        <div class="container mt-2">
            @RenderBody()
        </div>
    </section>

    <script src="\node_modules\bootstrap\dist\js\bootstrap.bundle.min.js"></script>
</body>
</html>
