@{
    Layout = "_Layout";
}
@model InviteCodeModel

    <table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-2">Company Name</th>
            <th class="col-3">Invite Code</th>
        </tr>
    </thead>
    <tbody> 
        <tr>
            <td>
                @Model.CompanyName
            </td>
            <td style="font-size:22px;">
                @Model.InviteCode
            </td>
            </tr>
    </tbody>
</table>


